<div *ngIf="loading"
    class="alert alert-info text-center"
    role="alert">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync fa-spin fa-2x"></i></p>
    <p class="mb-0"></p>
</div>

<div *ngIf="error"
    class="alert alert-danger text-center"
    role="alert">
    <h4 class="alert-heading">Error</h4>
    <pre>
        {{error | json}}
    </pre>
</div>

<div *ngIf="!loading"
    class="card-columns">
    <div class="card"
        *ngFor="let user of usuarios">
        <img [src]="user.avatar"
            class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">{{user.first_name}}</p>
            <p>
                <span class="text-muted">
                    ID: {{user.id}}
                </span>
            </p>
        </div>
    </div>

</div>