<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand"
        [routerLink]="['/home']">effects</a>

    <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                    [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                    [routerLink]="['/usuario/1']">Usuario</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input #txtInput
                (keyup.enter)="irUsuario(txtInput.value)"
                class="form-control mr-sm-2"
                type="search"
                placeholder="ID usuario"
                aria-label="Search">
            <button (click)="irUsuario(txtInput.value)"
                class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
        </div>
    </div>
</nav>